.header {
    position: sticky;
    top: 0;
    z-index: 99;

    width: 100%;
    min-height: 60px;
    padding: 10px;

    color: var(--text-color);

    display: flex;
    justify-content: space-around;
    align-items: center;


    background: var(--header-gradient);
    border-bottom: double 4px var(--header-bottom);

    h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 2rem;
    }
    h2 {
        width: 40px;
        font-size: 1.2rem;
        text-align: center;
    }
    
    button {
        width: 40px;  
        height: 40px;   
        background: none;
        img {
            width: 40px;  
            height: 40px;  
        }
    }

}

.btn-back {
    fill: aliceblue;
    background-color: aliceblue;
}